<div class="container abs-center">
    <div class="col-md-6">
        <div class="panel panel-login">
            <div class="panel-heading">
                <div class="row text-center">
                    <h3>LIVEBOOK</h3>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <a [routerLink]="['/forgot-password']" class="active" id="login-form-link">Forgot password</a>
                    </div>
                    <div class="col-xs-6">
                        <a [routerLink]="['/login']" id="register-form-link">Login</a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12"> 
                        <form id="login-form" [formGroup]="profileForm" style="display: block;">
                            <div class="form-group">
                                <input type="email" formControlName="email" class="form-control" placeholder="Email">
                                <label *ngIf="!profileForm.get('email')?.valid && profileForm.get('email')?.touched" style="color: red">Email required</label>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input [disabled]="!profileForm.valid" (click)="validateLogin()" class="form-control btn btn-login" value="Remenber">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
