<div class="container">
  <div class="btn-group-justified">
    <div class="btn-group">
      <button type="button" class="btn btn-success " data-toggle="dropdown">Tarjetas<span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li>
        <li><a [routerLink]="['/tarjetas']">Ver tarjetas</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary" data-toggle="dropdown">Transacciones<span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a [routerLink]="['/transacciones']">Buscar transacción</a></li>
      </ul>
    </div>
  </div>
</div>