<div class="container">
    <form #myForm="ngForm" class="form-inline">
        <div class="form-group">
          <input name="initialDate" type="date" class="form-control" placeholder="Begin" ngModel #name="ngModel" >
        </div>
        <div class="form-group">
          <input name="endDate" type="date" class="form-control" placeholder="End" ngModel #name="ngModel" >
        </div>
        <button type="button" class="btn btn-primary" (click)="findRangeDate(myForm)">Consultar</button>
      </form>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>PAN</th>
                <th>Referencia</th>
                <th>Total compra</th>
                <th>Dirección</th>
                <th>Estado</th>
                <th>Fecha de creación</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions;">
                <td>{{transaction.pan.pan}}</td>
                <td>{{transaction.referencia}}</td>
                <td>{{transaction.totalCompra}}</td>
                <td>{{transaction.direccion}}</td>
                <td>{{transaction.estado.estado}}</td>
                <td>{{transaction.fechaCreacion}}</td>
            </tr>
        </tbody>
    </table>    
    <button type="button" class="btn btn-primary" (click)="actualizar()">Consultar todas</button>
</div>